<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test thread-count="5" name="PayPal Rest Assured FW">
        <classes>
            <class name="org.codevault.tests.OrderTests">
                <methods>
                    <include name="createOrderTest"/>
                    <include name="confirmPaymentSourceTest"/>
                    <include name="showOrderDetailsTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>